In [2]:
import pandas as pd
import numpy as np

In [18]:
# xls = pd.ExcelFile('./WineKMC.xlsx') #Specify read_excel passing xls and sheet name
#df = pd.read_excel('./WineKMC.xlsx', sheet_name = None) # Specify sheet
df = pd.read_excel('./WineKMC.xlsx', sheet_name = 'OfferInformation')

In [20]:
df.head()

,Offer #,Campaign,Varietal,Minimum Qty (kg),Discount (%),Origin,Past Peak
0,1,January,Malbec,72,56,France,False
1,2,January,Pinot Noir,72,17,France,False
2,3,February,Espumante,144,32,Oregon,True
3,4,February,Champagne,72,48,France,True
4,5,February,Cabernet Sauvignon,144,44,New Zealand,True